* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: Arial, sans-serif;
}

body {   
   background-color: #dce3e9;
   min-height: 100vh;
}

.container {
   max-width: 740px;
   width: 90%;
   margin: auto;
   margin-top: 20px;
   border-radius: 5px;
   padding: 30px;
   min-height: 100px;
   text-align: center; /* center text inside container */
   background-color: #fff;
}

.container h2 {
   color: #1ABC9C;
   margin-bottom: 20px;
}

.container .forms-container {
   display: flex;
   justify-content: center;
}

.forms-container form {
   margin-top: 30px;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   justify-content: center;
}

form .input {
   flex: 1 1 calc(50% - 10px);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.input label {
   font-weight: bold;
   color: #5d5d5d;
}

.input input[type="text"],
.input input[type="email"],
.input textarea {
   width: 100%;
   border-radius: 4px;
   padding: 15px 8px;
   border: 1px solid #B1B1B1;
   outline: none;
   font-size: 14px;
}

.input textarea {
   height: 100px;
   resize: vertical;
}

.input.full-width {
   flex: 1 1 100%;
}

button[type="submit"] {
   flex: 1 1 100%;
   margin-top: 10px;
   padding: 12px;
   background-color: #fff;
   color: #616161;
   font-size: 16px;
   border: 1px solid #1ABC9C;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease, color 0.3s ease;
}

button[type="submit"]:hover {
   background-color: #1ABC9C;
   color: #fff;
}



/* Responsive: Stack inputs if screen is small */
@media (max-width: 600px) {
   form .input {
      flex: 1 1 100%;
      align-items: center;
   }
}

.btns{
   margin-top: 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btns a{
   margin-top: 10px;
   padding: 12px;
   background-color: #fff;
   color: #616161;
   font-size: 16px;
   border: 1px solid #1ABC9C;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease, color 0.3s ease;

}

.btns a:hover {
   background-color: #1ABC9C;
   color: #fff;
}