* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: Arial, sans-serif;
  
 }

 body{

 }

 h1{
   color: #1ABC9C;
   padding: 20px;
}

/* filter form */
 .filter-container {
   display: flex;
   justify-content: center; /* ➡ Center horizontally yung form */
   margin-top: 20px; /* ➡ Small space above the form */
}

.filter {
   background-color: #fff;
   padding: 20px 0px;
   border: 1px solid rgb(208, 208, 208);
   border-radius: 7px;
   display: flex;
   flex-direction: column;
   align-items: center; /* ➡ Center all content inside the form */
   gap: 20px;
   max-width: 100%;
   width: 700px;
}

.filter .section {
   display: flex;
   flex-wrap: wrap; /* ➡ Para responsive, wrap if needed */
   justify-content: center; /* ➡ Center the inputs */
   gap: 30px;
}

.section .input {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.input label {
   font-size: 1rem;
   font-weight: bolder;
}

.input select,
.input input[type="date"] {
   padding: 10px;
   font-size: 1rem;
   border: 1px solid #ccc;
   border-radius: 6px;
   background-color: white;
   cursor: pointer;
   width: 250px; /* ➡ fixed width para same lahat ng input */
}

.btn button {
   width: 200px;
   padding: 15px 0;
   border-radius: 6px;
   background-color: #00AF7E;
   color: #FFF;
   font-weight: bold;
   border: 1px solid #c3c3c3;
   cursor: pointer;
   transition: transform 0.3s ease;
   transform: scale(0.95);
   margin-top: 10px;
   align-self: center; /* ➡ Button is centered inside form */
}

.btn button:active {
   transform: scale(0.9);
}



/* table */
 .category-container{
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid #ddd;
   display: flex;
   flex-direction: column;
   gap: 20px;
   max-width: 100%;
   width: 700px;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 
 .category-container table{ 
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
 }
 
 .category-container th, .category-container td { 
   padding: 15px !important;
   text-align: left;
   border: 1px solid #ddd;
   font-size: 1rem;
 }
 
 .category-container th{
   background-color: #00AF7E;
   font-weight: bold;
   color: #ffffff;
 }
 
 .category-container tbody tr:hover{
   background-color: #f2f2f2;
 }

 /* btn */

