* {
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: Arial, sans-serif;
}

.container{padding: 20px;}

select, input[type="date"], button {padding: 10px; }


/* table  */
 .table-container { 
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   border: 1px solid #ddd;
   display: flex;
   flex-direction: column;
   gap: 20px;
   max-width: 100%;
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
}


 .table-container table{ 
     width: 100%;
     border-collapse: collapse;
 }
 
 .table-container th, .table-container td { 
   padding: 15px !important;
   text-align: left;
   border: 1px solid #ddd;
   font-size: 1rem;
 }
 
 .table-container th{
   background-color: #00AF7E;
   font-weight: bold;
   color: #ffffff;
 }
 
 .table-container tbody tr:hover{
   background-color: #f2f2f2;
 }